<h1> Bulk Discount <%= @bulk_discount.id %> </h1>

<div class="discount-attributes">
  <h3> Discount %:  <%= @bulk_discount.percentage_discount %> </h3>
  <h3> Qty to qualify:  <%= @bulk_discount.quantity_threshold %> </h3>
</div>
